
<!-- footer -->
<div class="container text-secondary basic-font">
    <div class="row zigzag">
      <div class="col-md-12">
        <img src="../../../assets/1.png" class="w-25 footer-logo" alt="">
      </div>
      <div class="row bottom-text">
        <div class="col-md-4 mt-5 ">
          <div class="mt-4">
            <small>
              <b>
                <strong>
                  Qlick and Test UG (haftungsbeschränkt)
                </strong>
              </b>
            </small><br>
            <small>
              Werstener Dorfstraße 17 <br> 40591 Düsseldorf
            </small>
          </div>
  
        </div>
  
        <div class="col-md-4">
          <div class="row mt-5">
  
        
            <div class="justify-content-around">
              <span>
                <img src="../../../assets/green tree.png" alt="" style="width: 43px; margin-left: 4px;" class="mt-1 position-absolute">
              </span>
              <small style="margin-left: 40px;">
                <small>
                   +49 17664801464
                </small> <br>
                <small style="margin-left: 43px !important;">
                   +49 17664801464
                </small>
              </small>
            </div>
  
            <div class="justify-content-around mt-3 mb-2">
              <span>
                <img src="../../../assets/Icons-08.png" alt="" class="mt-1 m-3 position-absolute">
              </span>
              <small style="margin-left: 48px;">
                <small>
                  hello@qlickandtest.de
                </small> 
              </small>
            </div>
  <!-- 
            <div class=" justify-content-around">
              <span>
                <img src="../../../assets/Icons-08.png" alt="" class="mt-3">
              </span>
              <small class="mt-2 px-1">
  
                <small>
                  hello@qlickandtest.de
                              </small>
              </small>
            </div> -->
  
  
          </div>
  
          <!-- <div class="row mt-1">
  
            <div class="justify-content-around col-md-11">
              <span><img src="../../../assets/Icons-08.png" alt="" class="mt-2"></span>
                <small style="margin-left: 76px;">hello@qlickandtest.de</small>
            </div>
          </div> -->
        </div>
  
  
        <div class="col-md-4">
          <div class="row justify-content-end">
            <div class="col-md-4 mt-5">
              <img src="../../../assets/Icons-06.png" class="w-25 mx-2" alt="">
              <img src="../../../assets/Icons-07.png" class="w-25" alt="">
              <ul class="p-2 text-start text-center" style="list-style-type: none;">
                <li routerLink="date">Datenschuzt</li>
                <li routerLink="impressum">impressum</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>