
<div class="container basic-font p-0 mb-3">
    <div class="row mt-5 basic-margin">
      <div class="col-md-6 mt-5">
        <br>
        <h2 class="text-success"><b>Datenschutz</b></h2>
        <h3 class="text-success"> 1. Datenschutz auf einen Blick</h3><br>
        <h4 class="text-success">Allgemeine Hinweise</h4>
        <h5 class="basic-heading">Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, 
          wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. 
          Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.</h5><br>
        
        <h4 class="text-success">Datenerfassung auf dieser Website</h4>
        <h5 class="basic-heading">Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h5>
        <h6 class="basic-heading">Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. 
          Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen.</h6><br>
        <h5 class="basic-heading">Wie erfassen wir Ihre Daten?</h5>
        <h6 class="basic-heading">Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, 
          die Sie in ein Kontaktformular eingeben. Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme erfasst. 
          Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, 
          sobald Sie diese Website betreten.</h6><br>
        <h5 class="basic-heading">Wofür nutzen wir Ihre Daten?</h5>
        <h6 class="basic-heading">Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per E-Mail, Kontakt Formular oder Bewerbungsformular) werden die Angaben des Nutzers zwecks 
          Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.
          Welche Rechte haben Sie bezüglich Ihrer Daten?
          Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. 
          Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben, 
          können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer 
          personenbezogenen Daten zu verlangen.
          Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.</h6><br>
        <h3 class="text-success">2. Allgemeine Hinweise und Pflichtinformationen</h3><br>
        <h4 class="text-success">Datenschutz</h4>
        <h6 class="basic-heading"> Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
          Wenn Sie Kontakt Formular oder Bewerbungsformular diese Website benutzen, werden die personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
          Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
          Hinweis zur verantwortlichen Stelle</h6><br>
        <h5 class="basic-heading">Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website:</h5>
        <!--<h6 class="basic-heading">Qlick and Test UG (haftungsbeschränkt)</h6>-->
        <h6 class="basic-heading">Qlick and Test</h6>
        <h6 class="basic-heading">Werstener Dorfstrasse 17</h6>
        <h6 class="basic-heading">40591 Düsseldorf</h6>
        <h6 class="basic-heading">Telefon: +49 176 64 80 14 64</h6>
        <h6 class="basic-heading">E-Mail: hello@qlickandtest.de</h6><br>
        <h5 class="basic-heading">Speicherdauer</h5>
        <h6 class="basic-heading">Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer genannt wurde, verbleiben Ihre personenbezogenen Daten bei uns, bis der 
            Zweck für die Datenverarbeitung entfällt. Wenn Sie ein berechtigtes Löschersuchen geltend machen oder eine Einwilligung zur Datenverarbeitung widerrufen, werden 
            Ihre Daten gelöscht, sofern wir keine anderen rechtlich zulässigen Gründe für die Speicherung Ihrer personenbezogenen Daten haben (z.B. steuer- oder handelsrechtliche 
            Aufbewahrungsfristen); im letztgenannten Fall erfolgt die Löschung nach Fortfall dieser Gründe.</h6><br>

        <h5 class="basic-heading">Ihre Rechte als betroffene Person</h5>
        <h6 class="basic-heading">Ihre Rechte als betroffene Person laut Art. 15 -22 EU-DS-GVO:
            Das Recht auf Auskunft (Art. 15 EU-DS-GVO),
            Das Recht auf Löschung (Art. 17 EU-DS-GVO),
            Das Recht auf Berichtigung (Art. 16 EU-DS-GVO),
            Das Recht auf Datenübertragbarkeit (Art. 20 EU-DSGVO),
            Das Recht auf Einschränkung der Datenverarbeitung (Art. 18 EU-DS-GVO),
            Das Widerspruchsrecht gegen die Datenverarbeitung (Art. 21 EU-DS-GVO).
            Um diese Rechte geltend zu machen, wenden Sie sich bitte an den Anbieter.
            Gleiches gilt, falls Sie Fragen zur Datenverarbeitung in unserem Unternehmen haben. 
            Ihnen steht auch ein Beschwerderecht an eine Datenschutzaufsichtsbehörde zu.</h6><br>
        <h5 class="basic-heading">Widerspruchsrecht</h5>
        <h6 class="basic-heading">Sie können der künftigen Verarbeitung der Sie betreffenden Daten nach Maßgabe des Art. 21 DSGVO jederzeit widersprechen.
            Für den Fall, dass wir Ihre Daten zur Wahrung berechtigter Interessen verarbeiten, können Sie dieser Verarbeitung aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit widersprechen. 
            Ihre personenbezogenen Daten dann nicht weiter verarbeitet, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
            Der Widerspruch ist kostenlos und kann an den verantwortlichen Anbieter (s.o.) formfrei erfolgen.
            Widerruf, Änderungen, Berichtigungen und Aktualisierungen
            Sie haben das Recht einmal erteilte Einwilligungen gem. Art. 7 Abs. 3 DSGVO mit Wirkung für die Zukunft zu widerrufen
            Sie haben das Recht unentgeltlich Auskunft über die personenbezogenen Daten zu erhalten, die über Sie gespeichert wurden. Zusätzlich haben Sie das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.
            Weitere Informationen zum Umgang mit personenbezogener Daten außerhalb der Webseite des Anbieters
            Seit dem 24.5.2018 verwenden wir auf dem unseren Mobilgeräten keine Apps der Facebook Gruppe (insbesondere whatsapp).</h6><br>
        <h3 class="text-success"> 3. Informationen zur Datenverarbeitung</h3><br>
            
        <h5 class="basic-heading">Ihre bei Nutzung unseres Internetauftritts verarbeiteten Daten werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt, der Löschung der 
            Daten keine gesetzlichen Aufbewahrungspflichten entgegenstehen und nachfolgend keine anderslautenden Angaben zu einzelnen Verarbeitungsverfahren gemacht werden.</h5><br>

        <h4 class="text-success">Cookies</h4>
        <h5 class="basic-heading">a) Sitzungs-Cookies/Session-Cookies</h5>            
        <h6 class="basic-heading">Wir verwenden mit unserem Internetauftritt sog. Cookies. Cookies sind kleine Textdateien oder andere Speichertechnologien, die durch den von Ihnen eingesetzten Internet-Browser auf Ihrem Endgerät ablegt und gespeichert werden. Durch diese Cookies werden im individuellen Umfang bestimmte Informationen von Ihnen, wie beispielsweise Ihre Browser- oder Standortdaten oder Ihre IP-Adresse, verarbeitet.
            Durch diese Verarbeitung wird unser Internetauftritt benutzerfreundlicher, effektiver und sicherer, da die Verarbeitung bspw. die Wiedergabe unseres Internetauftritts in unterschiedlichen Sprachen oder das Angebot einer Warenkorbfunktion ermöglicht.
            Rechtsgrundlage dieser Verarbeitung ist Art. 6 Abs. 1 lit b.) DSGVO, sofern diese Cookies Daten zur Vertragsanbahnung oder Vertragsabwicklung verarbeitet werden.
            Falls die Verarbeitung nicht der Vertragsanbahnung oder Vertragsabwicklung dient, liegt unser berechtigtes Interesse in der Verbesserung der Funktionalität unseres Internetauftritts. Rechtsgrundlage ist in dann Art. 6 Abs. 1 lit. f) DSGVO.
            Mit Schließen Ihres Internet-Browsers werden diese Session-Cookies gelöscht.</h6><br>
        <h5 class="basic-heading">b) Drittanbieter-Cookies</h5>
        <h6 class="basic-heading">Gegebenenfalls werden mit unserem Internetauftritt auch Cookies von Partnerunternehmen, mit denen wir zum Zwecke der Werbung, der Analyse oder der Funktionalitäten unseres Internetauftritts zusammenarbeiten, verwendet.
            Die Einzelheiten hierzu, insbesondere zu den Zwecken und den Rechtsgrundlagen der Verarbeitung solcher Drittanbieter-Cookies, entnehmen Sie bitte den nachfolgenden Informationen.</h6><br>
        <h5 class="basic-heading">c) Beseitigungsmöglichkeit</h5>
        <h6 class="basic-heading">Sie können die Installation der Cookies durch eine Einstellung Ihres Internet-Browsers verhindern oder einschränken. Ebenfalls können Sie 
          bereits gespeicherte Cookies jederzeit löschen. Die hierfür erforderlichen Schritte und Maßnahmen hängen jedoch von Ihrem konkret genutzten Internet-Browser ab. 
          Bei Fragen benutzen Sie daher bitte die Hilfefunktion oder Dokumentation Ihres Internet-Browsers oder wenden sich an dessen Hersteller bzw. Support. Bei sog. 
          Flash-Cookies kann die Verarbeitung allerdings nicht über die Einstellungen des Browsers unterbunden werden. Stattdessen müssen Sie insoweit die Einstellung Ihres 
          Flash-Players ändern. Auch die hierfür erforderlichen Schritte und Maßnahmen hängen von Ihrem konkret genutzten Flash-Player ab. Bei Fragen benutzen Sie daher 
          bitte ebenso die Hilfefunktion oder Dokumentation Ihres Flash-Players oder wenden sich an den Hersteller bzw. Benutzer-Support.</h6><br>
        <h6 class="basic-heading">Sollten Sie die Installation der Cookies verhindern oder einschränken, kann dies allerdings dazu führen, dass nicht sämtliche Funktionen 
            unseres Internetauftritts vollumfänglich nutzbar sind.</h6><br>
        <h5 class="basic-heading">LinkedIn</h5>
        <h6 class="basic-heading">Wir unterhalten bei LinkedIn eine Onlinepräsenz um unser Unternehmen sowie unsere Leistungen zu präsentieren und mit Kunden/Interessenten zu kommunizieren. LinkedIn ist ein Service der LinkedIn Ireland Unlimited Company, Wilton Plaza, Wilton Place, Dublin 2, Irland, ein Tochterunternehmen der LinkedIn Corporation, 1000 W. Maude Avenue, Sunnyvale, CA 94085, USA.
            Insofern weisen wir darauf hin, dass die Möglichkeit besteht, dass Daten der Nutzer außerhalb der Europäischen Union, insbesondere in den USA, verarbeitet werden. Hierdurch können gesteigerte Risiken für die Nutzer insofern bestehen, als dass z.B. der spätere Zugriff auf die Nutzerdaten erschwert werden kann. Auch haben wir keinen Zugriff auf diese Nutzerdaten. Die Zugriffsmöglichkeit liegt ausschließlich bei LinkedIn.
            Die Datenschutzhinweise von LinkedIn finden Sie unter
          <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">Die LinkedIn Datenschutzhinweise</a></h6><br>
           
        <h5 class="basic-heading">Google Analytics</h5>
        <h6 class="basic-heading">In unserem Internetauftritt setzen wir Google Analytics ein. Hierbei handelt es sich um einen Webanalysedienst der Google Ireland Limited, 
          Gordon House, Barrow Street, Dublin 4, Irland, nachfolgend nur „Google“ genannt.</h6><br>

        <h6 class="basic-heading">  Der Dienst Google Analytics dient zur Analyse des Nutzungsverhaltens unseres Internetauftritts. Rechtsgrundlage ist Art. 6 Abs. 1 lit. 
            f) DSGVO. Unser berechtigtes Interesse liegt in der Analyse, Optimierung und dem wirtschaftlichen Betrieb unseres Internetauftritts.</h6><br>

        <h6 class="basic-heading">Nutzungs- und nutzerbezogene Informationen, wie bspw. IP-Adresse, Ort, Zeit oder Häufigkeit des Besuchs unseres Internetauftritts, 
            werden dabei an einen Server von Google in den USA übertragen und dort gespeichert. Allerdings nutzen wir Google Analytics mit der sog. Anonymisierungsfunktion. 
            Durch diese Funktion kürzt Google die IP-Adresse schon innerhalb der EU bzw. des EWR.</h6><br>

        <h6 class="basic-heading">Die so erhobenen Daten werden wiederum von Google genutzt, um uns eine Auswertung über den Besuch unseres Internetauftritts sowie über die dortigen Nutzungsaktivitäten 
            zur Verfügung zu stellen. Auch können diese Daten genutzt werden, um weitere Dienstleistungen zu erbringen, die mit der Nutzung unseres Internetauftritts und der 
            Nutzung des Internets zusammenhängen.</h6><br>
        <h6 class="basic-heading">Google gibt an, Ihre IP-Adresse nicht mit anderen Daten zu verbinden. Zudem hält Google unter
            <a href="https://www.google.com/intl/de/policies/privacy/partners" target="_blank">Link</a></h6>
            
        <h6 class="basic-heading">weitere datenschutzrechtliche Informationen für Sie bereit, so bspw. auch zu den Möglichkeiten, die Datennutzung zu unterbinden.
            Zudem bietet Google unter
            <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">Link</a></h6>
            
        <h6 class="basic-heading">ein sog. Deaktivierungs-Add-on nebst weiteren Informationen hierzu an. Dieses Add-on lässt sich mit den gängigen Internet-Browsern installieren und bietet 
            Ihnen weitergehende Kontrollmöglichkeit über die Daten, die Google bei Aufruf unseres Internetauftritts erfasst. Dabei teilt das Add-on dem JavaScript (ga.js) 
            von Google Analytics mit, dass Informationen zum Besuch unseres Internetauftritts nicht an Google Analytics übermittelt werden sollen. Dies verhindert aber nicht, 
            dass Informationen an uns oder an andere Webanalysedienste übermittelt werden. Ob und welche weiteren Webanalysedienste von uns eingesetzt werden, 
            erfahren Sie natürlich 
            ebenfalls in dieser Datenschutzerklärung.</h6><br>            
        </div>
    </div>
</div>

