<div> 
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">   
     <a class="navbar-brand col" href="#"><img src="../../../assets/1.png" class="nav-logo" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-md-grow-0" id="navbarSupportedContent">
      <form class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
      
          <a class="nav-link active item-nave" aria-current="page" href="#">{{'home' | translate}}</a>
          <a class="nav-link item-nave " (click)="scrollToDiv('about_me')">{{'about_me' | translate}}</a>
          <a class="nav-link item-nave " (click)="scrollToDiv('services')">{{'services' | translate}}</a>
          <a class="nav-link item-nave " (click)="scrollToDiv('contact')">{{'contact' | translate }}</a>
          <div class="dropdown m-2">
            
          <img src="{{'../../../assets/'+selectedFlag}}" width="27px" class="h-50dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" alt="">
            
          
            <ul class="dropdown-menu" style="position: absolute;">
              <li (click)="toggleFlag('america.png')" class="dropdown-item" role="button" (click)="changeSiteLanguage('en')">
                <img src="../../../assets/america.png" width="15px" height="15px">
              English</li>
              <li (click)="toggleFlag('3.png')" class="dropdown-item" role="button" (click)="changeSiteLanguage('de')">
                <img src="../../../assets/3.png" width="17px" height="17px">
              German</li>
            </ul>
          </div>


          <!-- <select (change)="changeSiteLanguage($event)">
            <option value="en" selected>
              <a class="nav-link " href="#">English</a>   

            </option>
            <option value="de">German</option>
          </select> -->
      </form>
    </div>
  </div>
</nav>
</div>


